<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- HTML5 Input Form Elements -->

<form method="post" action="/upload" enctype="multipart/form-data">
    <input id="file" type="file" name="file" />
    <button id="upload-button" type="submit"> Upload </button>
</form>

<p th:text="'Total distance: ' + ${distance} + ' m'"> </p>
<!-- Ajax JavaScript File Upload to Spring Boot Logic -->
<!--<script>-->
<!--async function uploadFile() {-->
<!--  let formData = new FormData();-->
<!--  formData.append("file", fileupload.files[0]);-->
<!--  let response = await fetch('/index', {-->
<!--    method: "POST",-->
<!--    body: formData-->
<!--  });-->

<!--  if (response.status == 200) {-->
<!--    alert("File upload successfully");-->
<!--  } else {-->
<!--    alert("Can't upload check file consistency");-->
<!--  }-->
<!--}-->
<!--</script>-->

</body>
</html>